
    body{
        background: white;
        
      
    }
    .box{
        width: 400px;
      padding: 10px;
        box-sizing: border-box;


    }
    input[type=text]{
        width:300px;
        margin:-15px; 
       padding: 40px;
        font-size:35px;
      text-align: right;
  margin-left: -5px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color:rgb(224, 221, 221);
  border-bottom-width: 0;
  font-family:'Rajdhani',sans-serif;
        
    } input[type=button]{
        width:100px;;
        padding: 20px;
        font-size: 25px;
        border-style: solid;
        background-color: white;
        border-width:.5px;
        border-color:rgb(224, 221, 221);
        outline: 0;
        font-family:'Rajdhani',sans-serif;
      
  margin:-5px;

      
    }#AC{
        background:white;
        color: darkorange;
      
    }#equal{
        background: darkorange;
        color:white;
        border-color:darkorange; 
    } #AC:hover{
        background:darkorange;
        color: white;
        border-color: darkorange;
        transition: 0.2s;
    }#equal:hover{
        background: orange;
        transition: 0.2s;
       
    }input[type=button]:hover{
        background: rgb(224, 221, 221);
        transition: 0.3s;
        border-color: white;
      
    }
    }
    }
    }