body{
    margin: 0;
    padding: 0;
    background-image: url(_uhdnature111.jpg);
    background-size:cover;
    opacity: .6;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width:360px;
    padding:20px;
    transform: translate(-50%,-50%);
    opacity:1;;background: rgba(0, 0, 0, 0.9);
    box-sizing: content-box;
    box-shadow:0 15px 20px white;
    border-radius: 20px;

}
    
.box .inputbox input{
    position: relative;
    font-size: 16px;
    width:60%;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color:white;
    border:none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    outline:10px;
    background:transparent;

}



.box button 
{
    background: transparent;
    border: none;
    outline:white;
    background: blue;
    color: white; 
    font-size: 16px;
    cursor: pointer;
    padding:5px;
    margin: 5px;
    width:30%;border-radius:5px;

}.box p{
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-align: left;
}
.box button:hover{
    background:rgb(30, 150, 84);
}

}
    
}

}

}

}